@font-face {
  font-family: 'Inter';
  src: url('../Documents/Inter.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0px;
  background-color: #ddd5f3;
  font-family: 'Inter', Arial, sans-serif;
}
div.fnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0px;
  width: 100%;
  height: 300px;
  background-color: #aecbd9;
  margin: 0px;
}
div.fnav h1 {
  grid-column: 1;
  grid-row: span 2;
  margin: auto;
  font-size: 45px;
}
div.fnav div.links {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
}
div.fnav div.socials {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
div.socials img {
  width: 40px;
  height: 40px;
}
