@font-face {
  font-family: 'Inter';
  src: url('../Documents/Inter.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0px;
  background-color: #ddd5f3;
  font-family: 'Inter', Arial, sans-serif;
}
div.fnav {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 2fr 1fr;
  gap: 0px;
  width: 100%;
  height: 350px;
  background-color: rgb(45, 50, 65);
  margin: 0px;
  color: white;
}
div.fnav h1 {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  font-size: 45px;
}
div.fnav div.a {
  grid-column: 2;
  grid-row: span 2;
  display: flex;
  flex-direction: row;
}
div.a div.col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
}
div.a div.col p {
  gap: 0px;
  margin: 0px;
  padding: 0px;
}
div.fnav div.socials {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
div.socials img {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
