@font-face {
  font-family: 'Inter';
  src: url('../Documents/Inter.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0px;
  background-color: #cce4fe; /*or #99caff*/
  font-family: 'Inter', Arial, sans-serif;
}
