@font-face {
  font-family: 'ChineseFont';
  src: url('/Documents/Chinese-font.ttf') format('truetype');
}
body {
  background-color: #dedaf1;
  font-family: 'ChineseFont', Arial, sans-serif;
}
h1 {
  color: #171d33;
  font-family: 'ChineseFont', Arial, sans-serif;
}
div.container { <!--animate to slide up-->
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div.q {
  position: relative;
  height: 600px;
}
h4 {
  position: absolute;
  top: 0;
  left: 0;
}
h4.term {
  background-color: #253d81;
  width: 500px;
  height: 300px;
  z-index: 2;
}
h4.definition {
  background-color: #f0eefb;
  width: 500px;
  height: 300px;
  transition: margin-left 2s;
  z-index: 1;
}
h4.definition:hover {
  margin-left: 100px;
}
