table {
  border-collapse: collapse;
}
caption {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
tr, td, th {
  border: 3px solid black;
  border-collapse: collapse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th {
  font-weight: bold;
  background-color: lightgray;
}
tr td:first-child {
  font-weight: bold;
  padding-left: 5px;
}
table tr:last-child td:last-child {
  border: 6px solid gold;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}
